dataset_VEDAI
dataset_VEDAI\Annotations1024
dataset_VEDAI\Vehicules1024
Semantic segmentation dataset
sam_vit_h_4b8939.pth
Exploration\VUELO T27 26-06-25.avi
Own_Data_Exploration\Imagenes_seleccionadas
src\modelo_kmeans.pkl
src\Multiespectral_Data
src\modelo_kmeans.pkl
src\Multiespectral_Data
.codeviz
avanzado_1
Proyecto_Avanzado_1
src\Multiespectral_Data
Own_Data_Exploration
Own_Data_Exploration\Video Exploration
Own_Data_Exploration\object detection
Own_Data_Exploration