dataset_VEDAI
dataset_VEDAI\Annotations1024
dataset_VEDAI\Vehicules1024
Semantic segmentation dataset
sam_vit_h_4b8939.pth
Own_Data_Exploration\Land cover\qbee_segmentation_data
Own_Data_Exploration\frames_guardados